In [2]:
import pandas as pd
import numpy as np

In [4]:
df_co2= pd.read_csv(".\energyco2.csv")
df_co2

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...
55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

Identificamos cuantos paises tiene este dataset, son 231 - 1 porque esta reguistrado como world

In [6]:
len(df_co2['Country'].unique())

231

In [7]:
df_co2.isna().sum()

Country                            0
Energy_type                        0
Year                               0
Energy_consumption             11153
Energy_production              11151
GDP                            15414
Population                      9426
Energy_intensity_per_capita     5082
Energy_intensity_by_GDP         5082
CO2_emission                    3826
dtype: int64

In [14]:
df_irrad= pd.read_csv(".\Global horizontal irradiance 2010.csv")
df_irrad

,pais,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,Afghanistan,537602.0,635005.0,885965.0,1014586.0,1116551.0,1195268.0,1169426.0,1016882.0,945373.0,757298.0,609965.0,524471.0
1,Aland Islands,38074.0,133943.0,361771.0,590018.0,807283.0,994121.0,927224.0,626259.0,404767.0,205582.0,63434.0,25404.0
2,Albania,260796.0,347113.0,619008.0,771422.0,918203.0,999113.0,1016820.0,974529.0,655335.0,425254.0,302548.0,241265.0
3,Algeria,652502.0,766332.0,954369.0,1044117.0,1132056.0,1160980.0,1152998.0,1075599.0,947683.0,791570.0,669390.0,594809.0
4,American Samoa,824779.0,807686.0,903215.0,797619.0,715583.0,672109.0,679691.0,795552.0,824396.0,934185.0,921353.0,935521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Western Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Mordovia,113272.0,233979.0,454923.0,732962.0,878229.0,977236.0,1040426.0,766026.0,459894.0,231749.0,92503.0,61667.0

In [10]:
len(df_irrad['pais'].unique())

240

In [15]:
df_comsuopc=pd.read_csv('.\Consumo Energia Primaria Per Capita.csv')
df_comsuopc

,Pais,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2014,2015,2016,2017,2018,2019,2020,2021,2021.1,2011-2021
0,Canada,254.8,266.5,273.9,286.5,298.8,314.7,319.4,338.3,361.8,...,407.9,407.5,397.3,399.0,396.7,389.1,363.4,364.4,0.5%,-1.1%
1,Mexico,23.9,24.6,24.3,25.6,27.3,28.2,28.8,30.9,32.4,...,64.1,63.3,63.3,63.5,62.5,59.3,49.8,52.1,4.8%,-2.4%
2,US,260.3,271.9,278.6,292.5,304.8,312.8,316.6,329.4,340.3,...,293.3,288.2,285.7,284.8,293.5,289.8,267.1,279.9,5.1%,-0.6%
3,Argentina,53.4,54.3,55.0,56.1,57.1,53.3,55.6,55.4,57.0,...,82.6,83.2,82.0,81.1,79.7,74.7,70.1,75.2,7.6%,-0.5%
4,Brazil,11.8,12.6,12.7,14.1,15.0,17.0,18.1,20.3,23.7,...,62.7,60.6,58.7,58.9,58.7,59.4,56.4,58.7,4.3%,-0.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Sri Lanka,3.4,3.4,3.4,3.5,3.5,5.7,5.7,5.8,5.9,...,14.7,16.4,17.8,17.3,17.8,18.3,17.4,17.8,2.8%,2.9%
88,Taiwan,19.6,20.4,21.5,24.0,24.5,26.0,31.9,33.4,38.3,...,206.8,206.1,207.0,206.4,209.0,205.1,199.2,210.8,6.1%,0.5%
89,Thailand,3.5,4.0,4.4,5.5,5.7,6.6,7.1,8.3,8.6,...,73.2,74.5,75.8,76.9,79.0,78.8,72.6,73.0,0.9%,0.9%
90,Vietnam,2.8,4.8,6.4,6.4,7.4,7.5,6.5,6.2,6.4,...,28.7,32.3,34.6,36.8,40.9,45.0,43.4,44.0,1.8%,6.2%
91,Other Asia Pacific,10.0,10.4,10.9,11.5,11.9,12.3,13.2,13.6,13.7,...,12.3,12.5,13.6,15.5,16.3,16.9,17.4,17.5,0.9%,4.4%